@import "./mixins";

// Breakpoints
$xs: 0px;
$sm: 575px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1439px;
$xxxl: 1639px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
);

// Colors
$primary: #1a6fef;
$secondary: #157918;
$danger: #e62200;
$light: #f4f4f4;
$dark: #0e1326;
$white: #ffffff;
$black: #000000;
$grey: #666666;

/* Background and White */
$color-background: #fafdff;
$color-white: #fff;

/* Primary Colors */
$color-primary-10: #f5fbff;
$color-primary-20: #ebf7ff;
$color-primary-30: #ccecff;
$color-primary-40: #0094eb;
$color-primary-50: #0076bb;
$color-primary-60: #004d7a;

/* Secondary Colors */
$color-secondary-10: #effbf4;
$color-secondary-20: #effbf4;
$color-secondary-30: #238f51;
$color-secondary-40: #17693b;

/* Tertiary Colors */
$color-tertiary-10: #fcedef;
$color-tertiary-20: #e86973;
$color-tertiary-30: #e13d4a;
$color-tertiary-40: #d0202e;
$color-tertiary-50: #af1c29;

/* Neutral Colors */
$color-neutral-10: #fafafa;
$color-neutral-20: #e6e6e6;
$color-neutral-40: #8c8c8c;
$color-neutral-50: #595959;
$color-neutral-60: #454545;
$color-neutral-70: #333333;
$color-neutral-80: #2a3547;
$color-neutral-90: #262626;
$color-neutral-100: #252525;

// Typography
$font-primary: "Baskervville SC", serif;
$font-secondary: "Poppins", sans-serif;

$body-font-size: 16px;
$body-line-height: 24px;

$body-font-size-lg: 18px;
$body-line-height-lg: 24px;

$body-font-size-xl: 20px;
$body-line-height-xl: 28px;

$small-font-size: 14px;
$small-line-height: 20px;

$h1-font-size: 36px;
$h2-font-size: 34px;
$h3-font-size: 32px;
$h4-font-size: 26px;
$h5-font-size: 24px;
$h6-font-size: 18px;

$h1-line-height: 42px;
$h2-line-height: 40px;
$h3-line-height: 38px;
$h4-line-height: 32px;
$h5-line-height: 30px;
$h6-line-height: 28px;

$h1-font-weight: 800;
$h2-font-weight: bold;
$h3-font-weight: bold;
$h4-font-weight: bold;
$h5-font-weight: bold;
$h6-font-weight: bold;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
